


.Main{
  background-color: rgba(220, 247, 243, 0.858);
  width: 70%;
  min-height: 90vh;
  text-align: left;
  margin:auto;
  position:relative;
  padding-left:20px;
  padding-right:20px;
}
.Message{
  position:absolute;
  width: 98%;

}
.Input-field{
  position:relative;
  bottom:0;
  width: 80%;
}
.Input-bottom{
  bottom:0;
  position:absolute;
  margin-left: 80%;
  width: 20%;
}
